<nav class="nav-primary" role="navigation" >
    <h2>Navigation</h2>
    <ul>
        {% for p in site.pages %}
        <li>
            <a {% if p.url == page.url %} class="active" {% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <ul>
        <a href="https://play.google.com/store/apps/details?id=com.shamanland.fonticon.example">
            <img alt="Get it on Google Play" src="http://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
        </a>
    </ul>
</nav>
